
.collapsed {
    display: none
}


.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

/*
.calendar-time > div {
    display: flex;
    justify-content: space-between;  
}

.daterangepicker{
    text-align: center;
}

.calendar-table {
    width: min-content;
    display: inline-block;
}

.month {
    text-align: center;
}

.table-condensed thead:first-of-type tr:first-of-type th:first-of-type {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(-135deg) translate(-10px,1px);

}

.next.available {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg) translate(4px,5px);
}

*/
