
.collapsed {
    display: none
}


.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
